{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block header %}
	<header class="header-img" style="background-image: url('/img/header.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-12 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1 class="text-center" id="title">SNOW TRICKS</h1>
						<h2 class="text-center" id="slogan">Snow must go on</h2>
					</div>
				</div>

			</div>


		</div>

		<button type="button" class="btn position-absolute" id="scroll-down">
			<i class="fas fa-chevron-down"></i>
		</button>
	</header>


{% endblock %}

{% block body %}


	<div class="container-fluid" id="tricks">
		<div class="text-center">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		</div>

		{{ include ("figure/figures.html.twig") }}

		<div class="text-center">
			<button type="button" class="btn btn-outline-dark" id="loadMore">Voir plus</button>

		</div>
		<div>
			<button type="button" class="btn" id="scroll-up">
				<i class="fas fa-chevron-up"></i>
			</button>
		</div>

	</div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
<script language="javascript">
	$(document).ready(function () {
		var offset = {{ maxFigures }};
		$('#loadMore').click(function () {
			$('#loadMore').prop('disabled', true)
			$.ajax({
				url: '{{ path('loadMore') }}' + '/' + offset,
				method: "GET",
				success: function (data) {
					$('#figures').append(data);
					$('#loadMore').prop('disabled', false)
					offset += {{ maxFigures }};
					if (offset >= {{ figureCount }}) {
						$('#figures').append('');
						$('#loadMore').hide();
					}
				}
			});
		});
	});

var hiddenElement = document.getElementById("tricks");
var btn = document.querySelector('#scroll-down');

function handleButtonClick() {
	hiddenElement.scrollIntoView({block: "start", behavior: "smooth"});
}

btn.addEventListener('click', handleButtonClick);

var hiddenElement = document.getElementById("tricks");

var btn = document.querySelector('#scroll-up');

function handleButtonClick() {
	hiddenElement.scrollIntoView({block: "start", behavior: "smooth"});
}

btn.addEventListener('click', handleButtonClick);
window.onscroll = function () {
	scrollFunction();
};

function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		btn.style.display = "block";
	} else {
		btn.style.display = "none";
	}
}
</script>

{% endblock %}
