{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<h1 class="text-center title">Page d'accueil</h1>


		<div class="row" id="figures">

			{{ include ("figure/figures.html.twig") }}

		</div>


		<button type="button" class="btn btn-primary" id="loadMore">Voir plus</button>
	</div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script language="javascript">
		$(document).ready(function () {
var offset = {{ maxFigures }};
$('#loadMore').click(function () {

$.ajax({
url: '{{ path('loadMore') }}' + '/' + offset,
method: "GET"
}).success(function (data) {
$('#figures').append(data);
offset += {{ maxFigures }};
if (offset >= {{ figureCount }}) {
$('#figures').append('No more content');
$('#loadMore').hide();
}
})
});

});
	</script>
{% endblock %}
